@import "../utils/variables";
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;200;300;400;700&display=swap');
body{
    background-color: $backgroundColor;
    color: white;
    font-family: 'Azeret Mono', monospace;
    font-size: 18px;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
}
h1{
    color: #4C640C;
    font-size: 50px;
    
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    margin-bottom: 15px;
}
.hidden{
    display: none;
}
.wb-body{
    background-color: $backgroundColor;
}